version: '3.8'

services:
  db:
    image: mariadb
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wpuser
      - MYSQL_PASSWORD=wppass
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - wordpress-net

  wordpress:
    image: wordpress
    restart: always
    ports:
      - "8080:80"
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER=wpuser
      - WORDPRESS_DB_PASSWORD=wppass
      - WORDPRESS_DB_NAME=wordpress
    depends_on:
      - db
    volumes:
      - ./wordpress_data:/var/www/html/wp-content
    networks:
      - wordpress-net

networks:
  wordpress-net:
    driver: bridge
